body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.etch-body {
    background-color: blue;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 40px;
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 100px;
}

.etch-screen {
    width: 80%;
    height: 75%;
    background-color: cornsilk;
    border-radius: 10px;
}