body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.etch-body {
    background-color: blue;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 40px;    
    width: 700px;
    height: 700px;
    min-width: 700px;
    min-height: 700px;
    padding-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.etch-screen {
    width: 80%;
    height: 80%;
    background-color: cornsilk;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawing-area {
    width: 99%;
    height: 99%;
    display: flex;
    flex-wrap: wrap;

}

.options-area {
    display: flex;
    gap: 70px;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 10%;
}

.color-chooser,
.size-chooser {
    height: 50px;
    width: 75px;
    background-color: crimson;
    border-radius: 5px;
    border-style: solid;
    border-color: black;

}

.testBox {
    background-color: white;
    border-color: rgb(199, 197, 197);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    vertical-align: top;
    font-size: 0px;
}

.testBox:hover {
    background-color: rebeccapurple;
}