body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #7B1FA2;
    flex-direction: column;
    gap: 50px;
}

.etch-body {
    background-color: #D32F2F;
    border-width: 3px;
    border-style: solid;
    border-color: #A93226;
    border-radius: 40px;    
    width: 700px;
    height: 700px;
    min-width: 700px;
    min-height: 700px;
    padding-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.etch-screen {
    width: 80%;
    height: 80%;
    background-color: #A93226;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawing-area {
    width: 99%;
    height: 99%;
    display: flex;
    flex-wrap: wrap;
    background-color: #A93226;
}

.options-area {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 10%;
}

.color-chooser {
    height: 50px;
    width: 75px;
    background-color: crimson;
    border-radius: 5px;
    border-style: solid;
    border-color: black;

}

.testBox {
    background-color: lightgray;
    border-color: rgb(238, 238, 238);
    border-style: solid;
    border-width: .1px;
    border-radius: 1px;
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    vertical-align: top;
    font-size: 0px;

}

.color-chooser {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-color: #7B1FA2;
}

.color-chooser button {
    width: 33.333332%;
    height: 50%;
    border-radius: 0;
    color: goldenrod;
    border-color: #7B1FA2;
}

.red-button {
    background-color: #D32F2F;
}

.purple-button {
    background-color: #7B1FA2;
}

.blue-button {
    background-color: #1976D2;
}

.green-button {
    background-color: #148F77;
}

.black-button {
    background-color: black;
}

.gray-button {
    background-color: lightgray;
}

.clear-button button {
    width: 100px;
    height: 40px;
    background-color: #A93226;
    color: goldenrod;
    border-color: #7B1FA2;
    
}


 .title-box h1 {
     color: goldenrod;
 }

.size-chooser {
    display: flex;
    flex-wrap: wrap;
    border-color: #7B1FA2;

}

.size-chooser button {
    width: 25%;
    color: goldenrod;
    border-color: #7B1FA2;
    background: #A93226;
}